<nav>
    <ul>
        <li><a href="{{ site.url }}">Home</a></li>
        <li><a href="#">CV</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Protocols</a></li>
        <li style="float:right"><a href="https://orcid.org/0000-0001-9588-7043"><img class="icon" href="{{site.url}}/icons/orcid.png"></a></li>
        <li style="float:right"><a href="https://scholar.google.com/citations?view_op=list_works&hl=en&hl=en&user=IqM-F8cAAAAJ"><img class="icon" href="{{site.url}}/icons/scholar.png"></a></li>
        <li style="float:right"><a href="https://twitter.com/felipe_buson"><img class="icon" href="{{site.url}}/icons/twitter.png"></a></li>
        <li style="float:right"><a href="https://www.linkedin.com/in/felipe-xavier-buson-50906a12b"><img class="icon" href="{{site.url}}/icons/linkedin.png"></a></li>
        <li style="float:right"><a href="https://github.com/fxbuson"><img class="icon" href="{{site.url}}/icons/github.png"></a></li>
    </ul>
</nav>