<p>
    <b>Molecular Biology</b>
    <ul>
        <li>Culture Media</li>
        <li>Competent Cells</li>
        <li><a href="{{site.url}}/Protocols/PCR">PCR</a></li>
        <li>Golden Gate Assembly</li>
        <li><a href="{{site.url}}/Protocols/Transformation">E.coli Transformation</a></li>
        <li><a href="{{site.url}}/Protocols/Glycerol">Glycerol Stocks</a></li>
    </ul>

    <b>Assays</b>
    <ul>
        <li>M9 Media</li>
        <li>Plate Reader Fluorescence</li>
        <li>Flow Cytometry</li>
    </ul>

    <b>Computational</b>
    <ul>
        <li>RNA structure prediction</li>
        <li>Transcriptional Neutralization</li>
        <li>Liquid Handling Automation</li>
    </ul>
</p>
<div class="divider"></div>
