html *
{
  font-family: "Roboto", sans-serif !important;
  color: ghostwhite;
}

nav
{
  position:fixed;
  left: 0%;
  top: 0%;
  height: 50px;
  width: 100%;
  background-color: #333;
}

nav ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a
{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover
{
  background-color: #111;
}

body
{
  margin: 100px;
  background-color: #222;
}